<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Private feed: set NUGET_PRIVATE_FEED_URL to your org's NuGet feed URL -->
    <add key="PrivateFeed" value="%NUGET_PRIVATE_FEED_URL%" />
  </packageSources>
  <packageSourceCredentials>
    <PrivateFeed>
      <add key="Username" value="api" />
      <add key="ClearTextPassword" value="%PROGET_DOTNET_TOKEN%" />
    </PrivateFeed>
  </packageSourceCredentials>
</configuration>
