<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PrivateFeed" value="%NUGET_PRIVATE_FEED_URL%" />
  </packageSources>
  <packageSourceCredentials>
    <PrivateFeed>
      <add key="Username" value="apikey" />
      <add key="ClearTextPassword" value="%NUGET_API_KEY%" />
    </PrivateFeed>
  </packageSourceCredentials>
</configuration>
